@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h2 class="display-4">Welcome</h2>
    <div style="height:50px"></div>
    <p>Search for movie</p>
    <nav>
        <div class="nav-wrapper z-depth-2 teal darken-1">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>
